  .counsel-body {
    background-image: url('./images/login-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180vh; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.typeUser {
    display: none;
}

.Cplay {
    display: flex;
    justify-content: space-between;
    padding: 10px; 
}



.innerCounsel {
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.Cfill { 
    text-align: center; 
    border-radius: 50px;
    background-color: #F2F8FC;
    width: 500px;
    height: 900px;
    padding: 20px;
    padding-top: 90px;
    margin: 0 auto;  
    margin-left: 435px;
}

.Cwelcome {
    color: black; 
    font-weight: bolder; 
    margin-left: 20px;
}

.papilo { 
    padding-right: 50%; 
}

.Cinp1, .Cinp2, .Cinp3, .Cinp4, .Cinp5{ 
    padding: 10px;
    margin-bottom: 4%;
    width: 40%;
    text-align: center;
    background: transparent;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding-bottom: 5px;
}
.Cinp6 {
     padding: 10px;
    margin-bottom: 4%;
    width: 95%;
    text-align: center;
    background: transparent;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding-bottom: 5px;
}
.CinpX  {
     padding: 10px;
     margin-bottom: 4%;
     width: 70%;
     text-align: center;
     background: transparent;
     background-color: #fff;
     border-radius: 20px;
     margin-top: 10px;
     padding-bottom: 5px;
}
.CinpX1  {
     padding: 10px;
     margin-bottom: 4%;
     width: 63%;
     text-align: center;
     background: transparent;
     background-color: #fff;
     border-radius: 20px;
     margin-top: 10px;
     padding-bottom: 5px;
}
.CinpY {
     padding: 10px;
     margin-bottom: 4%;
     width: 45%;
     text-align: center;
     background: transparent;
     background-color: #fff;
     border-radius: 20px; 
     margin-top: 10px;
     padding-bottom: 5px;
     font-family: Arial, Helvetica, sans-serif;
}
.Ctheme {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 520;
     font-size: 15px;
}
.Cbtn1, .Cbtn2 {
    text-align: center;
    border-radius: 20px;
    padding: 7px;
    width: 70%;
    border: none;
    background-color: rgb(135, 206, 235);
}

@media screen and (max-width: 600px) {
    .counsel-body {
        min-height: 150vh;
        padding-top: 0;
        margin: 0;
        position: relative;
        width: 100%;
    }

    .innerCounsel {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0; 
    }

    .Cwelcome {
        font-size: 25px; 
        text-align: center;
        margin: 50px 0;
    }

    .Cfill { 
        max-width: 300px; 
        margin: 0 auto;
        padding: 20px 10px 40px 10px;
        height: 120vh; 
    }
    .Cplay {
        display: inline;
    }
    .Cinp1, .Cinp2, .Cinp3, .Cinp4, .Cinp5 {
        width: 70%;
        font-size: 15px;
    }
    .Cinp6 {
        width: 70%;
    }
    .CinpX, .CinpX1, .CinpY {
        width: 75%;
    }
}
